@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login Success</title>
</head>
<body>
    <script>
        sessionStorage.setItem('jwtToken', '@ViewData["JwtToken"]');
        window.location.href = '@ViewData["ReturnUrl"]';
    </script>
</body>
</html>
